<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="header">
        <p>THe Unconventional Calculator</p>
    </div>

    <div class="main">
          
        <input type="number" id="bar" class="input1">    
        <input type="number" id="bar" class="input2">
    
        <div class="btn-wrapper">
            <button class="add-btn">+</button>
            <button class="sub-btn">-</button>
            <button class="mult-btn">X</button>
            <button class="div-btn">/</button>
            <button class="refresh-btn">C</button>
        </div> 
        
     
        <div class="result">
            <p> </p>
        </div>
        <h3 class="label">Result</h3>
        
        

    </div>

    <script src ="index.js"></script>

</body>
</html>